<%= turbo_frame_tag dom_id(device) do %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <%= turbo_frame_tag "device_#{device.id}_edit" do %>
          <%= device.name %>
          <%= link_to edit_device_path(device), class: 'card-link text-decoration-none' do %>
            <i class="bi bi-pencil"></i>
          <% end %>
        <% end %>
      </h5>
      <% [:temperature, :light, :humidity].each do |measurement| %>
        <%= render 'device_stats/device_stats', device: device, measurement: measurement %>
      <% end %>
    </div>
    <div class="card-footer">
      <%= link_to details_device_path(device), class: "card-link text-decoration-none", target: :_top do %>
        Details <i class="bi bi-clipboard-data"></i>
      <% end %>
    </div>
  </div>
<% end %>
