<%= turbo_frame_tag "device_#{device.id}_last_#{measurement}" do %>
  <% device_stat = device.send("#{measurement}_stats").last %>
  <% if device_stat.present? %>
    <h5><%= device_stat.measurement.capitalize %></h5>
    <p class="badge bg-light text-dark"><%= device_stat.value %>%</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: <%= device_stat.value %>%" aria-valuenow="<%= device_stat.value %>" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  <% end %>
<% end %>